<h7><%= @league.name %></h7>
<ul>
  <!-- <li><%#= @creator.name %></li> -->
  <% @user_scores.each do |user_score| %>
    <li><%= user_score[:user_name] %> <%= user_score[:score] %></li>
  <% end %>
</ul>

<%= form_tag do %>
  <p>
    <%= label_tag "Your wins" %>
    <%= number_field_tag :wins %>
    <%= submit_tag %>
  </p>
<% end %>
