
<div class="row">
  <div class="col-md-4">
      </div>
    <div class="col-md-4">

<div class="signup">

  <h3>Login</h3>

<% if flash[:success] %>
  <p><%=flash[:success] %></p>
<% end %>

<% if flash[:error] %>
  <p><%=flash[:error] %></p>
<% end %>

<%= form_tag login_path do %>


<p>
  <%#= label_tag :email %>
  <%= email_field_tag :email, type="email", :class => "color" %>
</p>

<p>
  <%#= label_tag :password %>
  <%= password_field_tag :password, type="password", :class => "color" %>
</p>



<%= submit_tag "Login", :class => "updateButton" %>

<% end %>
</div>
</div>

  <!-- <div class="col-md-3">
  </div>

</div>
</div> -->
