<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ol>
  <% end %>



<%= form_for @user do |f| %>



<p>
  <%= f.label :name, class: "font" %>
  <%= f.text_field :name, class: "color2", :required => true %>
</p>

<p>
  <%= f.label :image, class: "font" %>
    <%= f.text_field :image, class: "color2", :required => true %>
</p>

<p>
  <%= f.label :email, class: "font" %>
  <%= f.email_field :email, class: "color2", :required => true %>
</p>

<p>
  <%= f.label :password, class: "font" %>
  <%= f.password_field :password, class: "color2", :required => true %>
</p>

<p>
  <%= f.label :password_confirmation, class: "font" %>
  <%= f.password_field :password_confirmation, class: "color2", :required => true %>
</p>

<%= f.submit "Update", :class => "updateButton" %>
<% end %>
