
<!-- <h1>Profile</h1> -->
<h2><%= @user.name %></h2>

<% if @user.image %>
<%= image_tag @user.image, :class => 'profile' %>

  <!-- <p><img src=<%#= @user.image %>></p> -->
<% end %>



<!-- <li>

  league count?

</li> -->


<!-- <p>Email: <%#= @user.email %></p> -->

<!-- <p>Password digest: <%#= @user.password_digest %></p> -->
<div class="user">
<%= form_for @user do |f| %>



<p>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
</p>
<p>
  <%= f.label :email %>
  <%= f.email_field :email, :required => true %>
</p>
<%= f.submit "Update" %>
<% end %>


<%#= link_to( "Edit user", edit_user_path(@user) ) %>

<%= link_to( "Delete account", user_path(@user), :method => :delete ) %></div>
